NEXT_PUBLIC_RPC_URL="https://rpc.sintrop.com"
NEXT_PUBLIC_RCTOKEN_ADDRESS="0x24fD0C0eA35F00625094795aa105fcE15cb6f1Ed"
NEXT_PUBLIC_RCTOKEN_IMAGE_URL="https://sintrop.com/assets/token.png"
NEXT_PUBLIC_INSPECTION_ADDRESS="0x13A40b1Cacb10A065AdC19e98270a9CC0f583281"