NEXT_PUBLIC_RPC_URL="https://rpc.sintrop.com"
NEXT_PUBLIC_IPFS_GATEWAY_URL="https://ipfs.sintrop.com"
NEXT_PUBLIC_RCTOKEN_IMAGE_URL="https://sintrop.com/assets/token.png"

NEXT_PUBLIC_RCTOKEN_ADDRESS="0x24fD0C0eA35F00625094795aa105fcE15cb6f1Ed"
NEXT_PUBLIC_INSPECTION_ADDRESS="0x13A40b1Cacb10A065AdC19e98270a9CC0f583281"
NEXT_PUBLIC_REGENERATOR_ADDRESS="0x984Add883400C6E11241B9109Db59484917dF566"
NEXT_PUBLIC_COMMUNITY_ADDRESS="0xec19012cA2C396EF3390E726095e25a794f34150"